{% extends 'registration/login_base.html' %}

{% block form1 %}
    <h3 class="u-text u-text-default u-text-1">Enter email</h3>
    <div class="u-form u-form-1">
        {% if form.ernail.errors %} {{ form.ernail.errors }} {% endif %}
        <form action="" method="POST"
              class="u-clearfix u-form-custom-backend u-form-spacing-10 u-form-vertical u-inner-form"
              source="custom" name="login" style="padding: 10px;" redirect="true">
            {% csrf_token %}

            <div class="u-form-email u-form-group">
                <label for="email" class="u-label u-label-1">Enter email</label>
                <input type="email" placeholder= "Enter your email address" id="email"
                       name="email"
                       class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white"
                       required="">
            </div>

            <div>
                {{ form.errors }}
            </div>
            <div class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-center-xs u-align-left-xxl u-form-group u-form-submit">
                <input type="submit" value="submit"
                       class="u-border-none u-btn u-btn-submit u-button-style u-hover-palette-4-light-1 u-palette-3-light-1 u-btn-1">
                {#                                        <input type="submit" value="submit" class="u-form-control-hidden">#}
            </div>
        </form>
    </div>
{% endblock %}