{% extends 'registration/login_base.html' %}

{% block form1 %}
    <br>
    <br>

    <h5>Notice:</h5>
    <ul>
    <li><h6>Name - {{ form.base_fields.username.help_text }}</h6></li>
    <li><h6>Password - {{ form.base_fields.password1.help_text }}</li>
    <li><h6>Confirm password - {{ form.base_fields.password2.help_text }}</li>
    </ul>

{% endblock %}

{% block form2 %}
    <h3 class="u-text u-text-default u-text-2">Sigh up</h3>
    <div class="u-form u-form-2">

        {% if form.errors %}
            {{ form.errors }}
        {% endif %}

        <form action="" method="POST"
              class="u-clearfix u-form-custom-backend u-form-spacing-10 u-form-vertical u-inner-form"
              source="custom" name="sighup" style="padding: 10px;" redirect="true">
            {% csrf_token %}
{#            {{ form.as_p }}#}
            <div class="u-form-group u-form-name">
                <label for="name-ad88" class="u-label u-label-3">Name</label>
                <input type="text" placeholder="Enter username" id="name-ad88" name="username"
                       class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white"
                       required>
            </div>
            <div class="u-form-email u-form-group">
                <label for="email-ad88" class="u-label u-label-4">Email</label>
                <input type="email" placeholder="Enter a valid email address" id="email-ad88"
                       name="email"
                       class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white"
                       required>
            </div>
            <div class="u-form-group u-form-group-6">
                <label for="text-bbe7" class="u-label u-label-5">Password</label>
                <input type="text" placeholder="Enter password" id="text-bbe7" name="password1"
                       class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white"
                       required="required">
            </div>
            <div class="u-form-group u-form-group-7">
                <label for="text-6ce6" class="u-label u-label-6">Confirm password</label>
                <input type="text" placeholder="Confirm_password" id="text-6ce6"
                       name="password2"
                       class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white"
                       required="required">
            </div>
            <div class="u-align-right u-form-group u-form-submit">
                <input type="submit" value="submit"
                       class="u-border-none u-btn u-btn-submit u-button-style u-hover-palette-4-light-1 u-palette-3-light-1 u-btn-3">
                {#                                        <input type="submit" value="submit" class="u-form-control-hidden">#}
            </div>
{#            <div class="u-form-send-message u-form-send-success">Thank you!</div>#}
{#            <div class="u-form-send-error u-form-send-message">Please fix errors then try#}
{#                again.#}
{#            </div>#}
{#            <input type="hidden" value="" name="recaptchaResponse">#}
        </form>
    </div>
{% endblock %}