{% extends 'registration/login_base.html' %}

{% block form1 %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="{% url 'login' %}" class="u-active-none u-border-2 u-border-active-palette-2-dark-1 u-border-hover-palette-2-base u-border-palette-3-light-1 u-btn u-button-style u-hover-none u-none u-text-active-palette-2-base u-text-hover-palette-2-base u-text-palette-3-light-1 u-btn-2">
        Password was changed successful
        <br>
        Repeat login
    </a>
{% endblock %}