 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/static/images/stay_sharp/317024594-02.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1009px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  width: 395px;
  margin: 22px auto 0;
}

.u-section-1 .u-text-2 {
  width: 67px;
  margin: 10px auto 0;
}

.u-section-1 .u-form-1 {
  height: 334px;
  width: 458px;
  margin: -34px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-label-1 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-form-group-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-label-2 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-form-group-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-label-3 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-form-group-4 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-btn-1 {
  margin-left: auto;
  margin-right: auto;
  border-style: none none solid;
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  padding: 0;
}

.u-section-1 .u-text-3 {
  width: 267px;
  margin: -12px auto 0;
}

.u-section-1 .u-form-2 {
  height: 262px;
  width: 458px;
  margin: 0 auto;
}

.u-section-1 .u-form-group-5 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-label-4 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-form-group-6 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-label-5 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-form-group-7 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-btn-2 {
  margin-left: auto;
  margin-right: auto;
  border-style: none none solid;
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  padding: 0;
}

.u-section-1 .u-text-4 {
  width: 67px;
  margin: -480px auto 0;
}

.u-section-1 .u-text-5 {
  width: 267px;
  margin: -89px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 225px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-form-3 {
  height: 178px;
  width: 458px;
  margin: 22px auto 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-label-6 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-form-group-9 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-btn-3 {
  margin-left: auto;
  margin-right: auto;
  border-style: none none solid;
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  padding: 0;
}

.u-section-1 .u-text-6 {
  width: 67px;
  margin: -174px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 33px;
  width: 33px;
  margin: 134px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 201px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 238px;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: 24px 250px 0 46px;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  margin: 34px 0 0 50px;
}

.u-section-1 .u-text-10 {
  margin: -126px 67px 0 338px;
}

.u-section-1 .u-text-11 {
  margin: 44px 67px 0 338px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 295px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-form-4 {
  background-image: none;
}

.u-section-1 .u-label-7 {
  font-size: 1.5rem;
  width: 177px;
  font-weight: 400;
}

.u-section-1 .u-input-7 {
  height: 40px;
}

.u-section-1 .u-label-8 {
  font-size: 1.5rem;
  width: 177px;
  font-weight: 400;
}

.u-section-1 .u-input-8 {
  height: 40px;
}

.u-section-1 .u-label-9 {
  width: 177px;
  font-size: 1.5rem;
}

.u-section-1 .u-btn-4 {
  border-style: none none solid;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.875rem;
  width: 243px;
  margin: -202px auto 0;
}

.u-section-1 .u-icon-2 {
  height: 27px;
  width: 27px;
  margin: 161px auto 0;
  padding: 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 1100px;
    position: relative;
    margin: 95px auto 19px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 749px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 14px;
  }

  .u-section-1 .u-form-1 {
    height: 328px;
    margin-top: -35px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-3 {
    margin-top: -15px;
  }

  .u-section-1 .u-form-2 {
    height: 256px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-4 {
    margin-top: -242px;
  }

  .u-section-1 .u-text-5 {
    width: 256px;
    margin-top: 200px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-form-3 {
    height: 172px;
    margin-top: 10px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-6 {
    margin-top: -161px;
  }

  .u-section-1 .u-icon-1 {
    height: 27px;
    width: 27px;
    margin-top: 124px;
    padding: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 248px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    font-size: 1.5rem;
    margin-right: 230px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: 82px;
    margin-left: 304px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-right: 82px;
    margin-left: 304px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 276px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 15px;
    padding-bottom: 16px;
  }

  .u-section-1 .u-form-4 {
    height: 164px;
    width: 336px;
    margin: 42px auto 0;
  }

  .u-section-1 .u-text-12 {
    margin-top: -206px;
  }
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 640px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 192px;
  }

  .u-section-1 .u-form-3 {
    width: 402px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 212px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 190px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 42px;
    margin-left: 264px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 41px;
    margin-left: 264px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 236px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 768px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    width: 376px;
  }

  .u-section-1 .u-form-1 {
    width: 376px;
  }

  .u-section-1 .u-form-2 {
    width: 376px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-3 {
    width: 316px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 110px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 220px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 220px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-form-4 {
    width: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1179px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 767px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 213px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 19px;
    margin-right: auto;
    margin-left: 216px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -111px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1546px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 90px;
    margin-bottom: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 776px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 14px;
    margin-left: 18px;
  }

  .u-section-1 .u-form-1 {
    width: 336px;
    margin-top: -27px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -6px;
  }

  .u-section-1 .u-form-2 {
    width: 340px;
    margin-top: 11px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -248px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 217px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 210px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 116px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 206px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
    margin-top: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
    margin-right: 158px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 12px;
    margin-left: 40px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -96px;
    margin-right: 43px;
    margin-left: 269px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 26px;
    margin-right: 41px;
    margin-left: 269px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 263px;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.5rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 376px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: -221px 56px 0 0;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(255, 167, 84) !important;
}

.u-section-2 .u-list-icon-2 {
  color: rgb(255, 167, 84) !important;
}

.u-section-2 .u-text-2 {
  margin: -190px 0 0 149px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 407px;
}

.u-section-2 .u-container-layout-2 {
  padding: 16px;
}

.u-section-2 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid solid dashed;
  padding: 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 1095px;
    margin: 21px auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 248px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 14px 15px 14px 25px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 48px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -176px;
    margin-bottom: 148px;
    margin-left: 189px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 248px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    border-style: solid;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 203px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 159px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 213px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 768px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-left: 129px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 174px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 767px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 348px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 233px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -175px;
    margin-left: auto;
    margin-bottom: 147px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 157px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/static/images/stay_sharp/317024594-02.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1065px;
}

.u-section-3 .u-layout-wrap-1 {
  background-image: none;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 816px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 13px 0 0 141px;
}

.u-section-3 .u-form-1 {
  height: 741px;
  margin: -30px 33px -107px 25px;
}

.u-section-3 .u-form-group-1 {
  margin-left: 0;
}

.u-section-3 .u-label-1 {
  font-weight: 800;
  font-size: 1rem;
}

.u-section-3 .u-form-group-2 {
  margin-left: 0;
}

.u-section-3 .u-label-2 {
  font-weight: 800;
  font-size: 1rem;
}

.u-section-3 .u-form-group-3 {
  margin-left: 0;
}

.u-section-3 .u-label-3 {
  font-weight: 800;
  font-size: 1rem;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-3 .u-text-2 {
  width: auto;
  margin: 25px auto 0;
}

.u-section-3 .u-group-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.875rem;
}

.u-section-3 .u-icon-1 {
  height: 33px;
  width: 33px;
  margin: -51px auto 0 137px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 945px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  text-decoration: none solid rgb(245, 214, 84);
  margin: 188px 72px 0 122px;
}

.u-section-3 .u-form-2 {
  background-image: none;
}

.u-section-3 .u-form-group-5 {
  margin-left: 0;
}

.u-section-3 .u-label-4 {
  font-weight: 800;
  font-size: 1rem;
}

.u-section-3 .u-form-group-6 {
  margin-left: 0;
}

.u-section-3 .u-label-5 {
  font-weight: 800;
  font-size: 1rem;
}

.u-section-3 .u-form-group-7 {
  margin-left: 0;
}

.u-section-3 .u-label-6 {
  font-weight: 800;
  font-size: 1rem;
}

.u-section-3 .u-form-group-8 {
  margin-left: 0;
}

.u-section-3 .u-label-7 {
  font-weight: 800;
  font-size: 1rem;
}

.u-section-3 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-3 .u-text-5 {
  width: 274px;
  margin: -31px auto 0;
}

.u-section-3 .u-group-2 {
  width: 156px;
  min-height: 66px;
  margin: 15px 85px 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px;
}

.u-section-3 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.875rem;
}

.u-section-3 .u-icon-2 {
  height: 33px;
  width: 33px;
  margin: -51px auto 0 132px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 1098px;
    margin: 33px auto 25px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 4px 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-form-1 {
    height: 431px;
    margin: -6px -2px 0 21px;
  }

  .u-section-3 .u-label-1 {
    font-size: 1.25rem;
    font-weight: normal;
  }

  .u-section-3 .u-label-2 {
    font-size: 1.25rem;
    font-weight: normal;
  }

  .u-section-3 .u-label-3 {
    font-size: 1.25rem;
    font-weight: normal;
  }

  .u-section-3 .u-text-2 {
    margin-top: 94px;
  }

  .u-section-3 .u-group-1 {
    width: 130px;
    min-height: 60px;
    margin: 17px auto 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-3 .u-text-3 {
    width: 77px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -46px;
    margin-left: 154px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 816px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 20px 1px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-form-2 {
    height: 501px;
    width: 497px;
    margin: 0 auto;
  }

  .u-section-3 .u-label-4 {
    font-size: 1.25rem;
    font-weight: normal;
  }

  .u-section-3 .u-label-5 {
    font-size: 1.25rem;
    font-weight: normal;
  }

  .u-section-3 .u-label-6 {
    font-size: 1.25rem;
    font-weight: normal;
  }

  .u-section-3 .u-label-7 {
    font-size: 1.25rem;
    font-weight: normal;
  }

  .u-section-3 .u-text-5 {
    width: 295px;
    margin-top: 9px;
  }

  .u-section-3 .u-group-2 {
    width: 130px;
    min-height: 60px;
    margin-top: 17px;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 10px;
  }

  .u-section-3 .u-text-6 {
    width: 90px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -46px;
    margin-left: 153px;
  }
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 760px;
  }

  .u-section-3 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
    width: 470px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 6px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -45px;
    margin-left: 114px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 760px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 29px;
  }

  .u-section-3 .u-form-2 {
    width: 414px;
  }

  .u-section-3 .u-group-2 {
    min-height: 62px;
    margin-top: 7px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -47px;
    margin-left: 113px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 768px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 788px;
  }

  .u-section-3 .u-form-1 {
    width: 384px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 102px;
  }

  .u-section-3 .u-group-1 {
    width: 125px;
    min-height: 56px;
    margin-top: 24px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-3 .u-text-3 {
    width: 74px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -42px;
    margin-left: 61px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 788px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 30px;
  }

  .u-section-3 .u-form-2 {
    width: 328px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -5px;
  }

  .u-section-3 .u-group-2 {
    width: 121px;
    min-height: 51px;
    margin-top: 14px;
  }

  .u-section-3 .u-text-6 {
    width: 68px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -40px;
    margin-left: 61px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1627px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 773px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-3 .u-form-1 {
    height: 463px;
    margin-top: 0;
    margin-right: 192px;
    margin-left: 187px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 31px;
    margin-left: 237px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 23px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -46px;
    margin-left: 260px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 818px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 0;
  }

  .u-section-3 .u-group-2 {
    margin-top: 17px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -46px;
    margin-left: 260px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1539px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-bottom: 22px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 712px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 10px;
    margin-left: 52px;
  }

  .u-section-3 .u-form-1 {
    height: 495px;
    width: 351px;
    margin-top: -8px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: -16px;
    margin-left: 116px;
  }

  .u-section-3 .u-group-1 {
    min-height: 54px;
  }

  .u-section-3 .u-text-3 {
    width: 88px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -43px;
    margin-left: 69px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 802px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 7px 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 14px;
  }

  .u-section-3 .u-form-2 {
    height: 533px;
    width: 351px;
  }

  .u-section-3 .u-text-5 {
    width: 292px;
    margin-top: 22px;
  }

  .u-section-3 .u-group-2 {
    width: 123px;
    min-height: 55px;
    margin-top: 20px;
  }

  .u-section-3 .u-text-6 {
    width: 83px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -44px;
    margin-left: 67px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 596px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 27px auto 1px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 568px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 21px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto 0 9px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  line-height: 1.8;
  font-style: italic;
  font-size: 1.125rem;
  margin: 27px 18px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 568px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-form-1 {
  height: 356px;
  width: 510px;
  margin: 9px auto 0;
}

.u-section-4 .u-label-1 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-4 .u-label-2 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-4 .u-label-3 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: none;
  font-size: 1rem;
}

@media (max-width: 1399px) {
   .u-section-4 {
    min-height: 469px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-bottom: 29px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 412px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-left: 187px;
  }

  .u-section-4 .u-text-2 {
    width: 413px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 412px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 16px;
  }

  .u-section-4 .u-btn-1 {
    border-style: none;
    text-transform: uppercase;
    font-size: 1.125rem;
  }
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 369px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 154px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 340px;
  }

  .u-section-4 .u-form-1 {
    width: 446px;
  }

  .u-section-4 .u-btn-1 {
    width: 102%;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 127px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 126px;
  }

  .u-section-4 .u-text-2 {
    width: 384px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-4 .u-form-1 {
    width: 360px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 227px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 294px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 9px;
    margin-left: 29px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 57px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 530px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 16px;
    padding-right: 0;
  }

  .u-section-4 .u-form-1 {
    height: 475px;
    width: 322px;
    margin-top: 23px;
  }

  .u-section-4 .u-label-1 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-label-2 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-label-3 {
    font-size: 1.125rem;
  }
}