 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/static/images/stay_sharp/317024594-02.4f3d3cf70752.jpeg");
}

.u-section-1 .u-sheet-1 {
  min-height: 794px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 82px;
  margin-bottom: 35px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 677px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-weight: normal;
  font-size: 1.5rem;
  width: 302px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  width: 98px;
  margin: 18px auto 0;
}

.u-section-1 .u-form-1 {
  height: 267px;
  width: 280px;
  margin: 0 auto;
}

.u-section-1 .u-form-group-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-label-1 {
  font-size: 1rem;
  font-weight: 400;
}

.u-section-1 .u-input-1 {
  font-size: 1rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-label-2 {
  font-size: 1rem;
  font-weight: 400;
}

.u-section-1 .u-input-2 {
  font-size: 1rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-label-3 {
  font-size: 1rem;
  font-weight: 400;
}

.u-section-1 .u-input-3 {
  font-size: 1rem;
}

.u-section-1 .u-form-group-4 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-btn-1 {
  margin-left: auto;
  margin-right: auto;
  border-style: none none solid;
  font-size: 1.25rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  padding: 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1.25rem;
  width: 245px;
  margin: 17px auto 0;
}

.u-section-1 .u-text-4 {
  width: 90px;
  margin: 20px auto 0;
}

.u-section-1 .u-form-2 {
  height: 178px;
  width: 280px;
  margin: 5px auto 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-label-4 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-1 .u-input-4 {
  height: 38px;
}

.u-section-1 .u-form-group-6 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-label-5 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-1 .u-input-5 {
  height: 38px;
}

.u-section-1 .u-form-group-7 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-btn-2 {
  margin-left: auto;
  margin-right: auto;
  border-style: none none solid;
  font-size: 1.25rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  padding: 0;
}

.u-section-1 .u-text-5 {
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 16px 87px 0 81px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 677px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  width: 100px;
  margin: 74px auto 0;
}

.u-section-1 .u-form-3 {
  height: 107px;
  width: 280px;
  margin: 19px auto 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-label-6 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-1 .u-input-6 {
  height: 45px;
  font-size: 1rem;
}

.u-section-1 .u-form-group-9 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-btn-3 {
  margin-left: auto;
  margin-right: auto;
  border-style: none none solid;
  font-size: 1.25rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  padding: 0;
}

.u-section-1 .u-text-7 {
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1.25rem;
  width: 232px;
  margin: 29px auto 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 400;
  width: 194px;
  margin: 29px auto 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  margin: 54px 59px 0 258px;
}

.u-section-1 .u-text-10 {
  font-weight: normal;
  font-size: 1.25rem;
  margin: -26px 168px 0 70px;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 50px 148px 0 70px;
}

.u-section-1 .u-text-12 {
  font-size: 1.5rem;
  margin: -38px 59px 0 258px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 677px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 20px;
}

.u-section-1 .u-group-1 {
  min-height: 460px;
  height: auto;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  background-image: none;
  width: 303px;
  margin: 49px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-1 .u-text-13 {
  width: 148px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 7px auto 0;
}

.u-section-1 .u-text-14 {
  font-size: 1rem;
  margin: 15px 10px 0;
}

.u-section-1 .u-text-15 {
  font-size: 1rem;
  margin: 32px 10px 0;
}

.u-section-1 .u-text-16 {
  font-size: 1rem;
  margin: 29px 10px 0;
}

@media (max-width: 1399px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 79px;
    margin-bottom: 37px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 706px;
  }

  .u-section-1 .u-text-1 {
    font-weight: 400;
    width: auto;
    margin-top: 8px;
    margin-left: -36px;
    margin-right: -36px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 23px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 8px;
  }

  .u-section-1 .u-text-4 {
    width: 67px;
    margin-top: 19px;
  }

  .u-section-1 .u-form-2 {
    margin-top: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 22px;
    margin-right: 78px;
    margin-left: 68px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 706px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 87px;
  }

  .u-section-1 .u-form-3 {
    height: 114px;
    margin-top: 22px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 35px;
  }

  .u-section-1 .u-text-8 {
    width: 193px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 51px;
    margin-right: 49px;
    margin-left: 241px;
  }

  .u-section-1 .u-text-10 {
    font-weight: 400;
    width: auto;
    margin-right: 165px;
    margin-left: 60px;
  }

  .u-section-1 .u-text-11 {
    font-weight: 400;
    width: auto;
    margin-top: 42px;
    margin-right: 131px;
    margin-left: 60px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: -36px;
    margin-right: 47px;
    margin-left: 238px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 706px;
  }

  .u-section-1 .u-group-1 {
    width: 299px;
    margin-top: 67px;
    height: auto;
  }

  .u-section-1 .u-text-14 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 83px;
    margin-bottom: 43px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 687px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: -108px;
    margin-right: -108px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-form-1 {
    width: 270px;
    margin-top: 6px;
  }

  .u-section-1 .u-form-2 {
    width: 270px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 22px;
    margin-left: 49px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 687px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 76px;
  }

  .u-section-1 .u-form-3 {
    margin-top: 28px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 34px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 47px;
    margin-right: 19px;
    margin-left: 205px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 120px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 39px;
    margin-right: 109px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -38px;
    margin-right: 21px;
    margin-left: 207px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 687px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 57px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 71px;
    margin-bottom: 39px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 708px;
  }

  .u-section-1 .u-text-1 {
    margin-left: -132px;
    margin-right: -132px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 18px;
  }

  .u-section-1 .u-form-1 {
    width: 230px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 24px;
  }

  .u-section-1 .u-form-2 {
    width: 230px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 708px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 74px;
  }

  .u-section-1 .u-form-3 {
    width: 230px;
    margin-top: 8px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 65px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 55px;
    margin-right: 11px;
    margin-left: 173px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.125rem;
    margin-top: -25px;
    margin-right: 91px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.125rem;
    margin-top: 20px;
    margin-right: 75px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -35px;
    margin-right: 11px;
    margin-left: 173px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 708px;
  }

  .u-section-1 .u-group-1 {
    min-height: 524px;
    margin-top: 51px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-14 {
    font-size: 0.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1749px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 33px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 731px;
  }

  .u-section-1 .u-text-1 {
    width: 455px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 19px;
  }

  .u-section-1 .u-form-1 {
    width: 280px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 24px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 27px;
  }

  .u-section-1 .u-form-2 {
    width: 280px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 27px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 348px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 23px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 34px;
    margin-right: 233px;
    margin-left: 422px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 382px;
    margin-left: 231px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 32px;
    margin-right: 365px;
    margin-left: 231px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 241px;
    margin-bottom: -220px;
    margin-left: 430px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 577px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 0 10px;
  }

  .u-section-1 .u-group-1 {
    min-height: 352px;
    width: 424px;
    margin-top: 131px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-14 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1728px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 87px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 713px;
  }

  .u-section-1 .u-text-1 {
    width: 275px;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 24px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 8px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 21px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-5 {
    width: 241px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 343px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 0;
  }

  .u-section-1 .u-form-3 {
    width: 280px;
    margin-top: 9px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 27px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 21px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 29px;
    margin-right: 38px;
    margin-left: 226px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 186px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 37px;
    margin-right: 168px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 46px;
    margin-bottom: -176px;
    margin-left: 234px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 498px;
  }

  .u-section-1 .u-group-1 {
    min-height: 428px;
    width: 313px;
    margin-top: 0;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 26px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 35px;
  }
}